# Django-Specific Files and Directories
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/
local_settings.py
*.log
db.sqlite3
.env

# General Files and Directories
.DS_Store
Thumbs.db
*~
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db
.*_
.Spotlight-V100
.Trashes
Icon?
.git/
.svn/
.hg/
requirements.txt
Pipfile.lock
yarn.lock
package-lock.json
.next/
.nuxt/
.gatsby-cache/
Dockerfile
docker-compose.yml
.env
.env.local
.env.development
.env.production
